<section class="contactSection">
    <ul>
        <li style="--clr:#72CB43">
            <a routerLink="/home" data-text="&nbsp;Home">&nbsp;Home&nbsp;</a>
        </li>
        <li style="--clr:#FF0044">
            <a routerLink="/about" data-text="&nbsp;About">&nbsp;About&nbsp;</a>
        </li>
        <li style="--clr:#FFC311">
            <a routerLink="/contact" data-text="&nbsp;Contact">&nbsp;Contact&nbsp;</a>
        </li>
        <li style="--clr:#F57200">
            <a href="#" data-text="&nbsp;Lorem">&nbsp;Lorem&nbsp;</a>
        </li>
        <li style="--clr:#D80000">
            <a href="#" data-text="&nbsp;Ipsum">&nbsp;Ipsum&nbsp;</a>
        </li>
    </ul>
</section>
